@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/images/favicon.ico">

    <title>@ViewBag.Title </title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Content/site.css" rel="stylesheet">

  

</head>

<body>

    @Html.Partial("_Header")
    <div class="container">
        @RenderBody()
    </div>
  

     @Html.Partial("_Footer")
 


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/Scripts/jquery-slim.min.js"></script>
        <script src="/Scripts/popper.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/holder.min.js"></script>
        
        @RenderSection("scripts", false)

</body>
</html>
